{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <style type="text/css">
        * {
            font-family: Verdana, Arial, sans-serif;
        }
        table{
            font-size: x-small;
        }
        tfoot tr td{
            font-weight: bold;
            font-size: x-small;
        }

        .gray {
            background-color: lightgray
        }

        .bottom {
            position: fixed;
            bottom: 0px;
        }
    </style>
    <h1>Invoice</h1>

      <table width="100%">
    <tr>
        <td align="right">
            <h3># Gd2dSq21_{{ invoice.id}}</h3>
            <pre>
                {{ invoice.user.username }}
                0{{ invoice.phone }}
                {{ invoice.mail }}
            </pre>
        </td>
    </tr>

  </table>

  <table width="100%">
    <tr>
        <td><strong>From:</strong> Center Local - Flowers</td>
        <td><strong>To:</strong> {{ invoice.address}} ({{ invoice.city }} / {{ invoice.postal }})</td>
    </tr>

  </table>

  <br/>

  <table width="100%">
    <thead style="background-color: lightgray;">
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
    {% set number = invoice.quantity|length - 1 %}
    {% for article in invoice.article %}
      <tr>
        <th scope="row">{{ article.id }}</th>
        <td>{{ article.name }}</td>
        <td align="right">{{ invoice.quantity[number] }}</td>
        <td align="right">{{ article.price }}</td>
        <td align="right">{{ article.price * invoice.quantity[number] }}</td>
      </tr>
    {% set number = number - 1 %}
    {% endfor %}
    </tbody>

    <tfoot>
        {# <tr>
            <td colspan="3"></td>
            <td align="right">Subtotal $</td>
            <td align="right">1635.00</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td align="right">Tax $</td>
            <td align="right">294.3</td>
        </tr> #}
        <tr>
            <td colspan="3"></td>
            <td align="right">Total $</td>
            <td align="right" class="gray">{{ invoice.price }} €</td>
        </tr>
    </tfoot>
  </table>

    <pre class="bottom">
        Copyright © 2024 Flowers. All rights reserved
        Privacy Policy
        Terms of Use
    </pre>
{% endblock %}
