{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    {# <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="example-wrapper bg-white min-h-screen grid grid-cols-2 text-black font-poppins">
        <div class="col-start-1 flex flex-col p-14">
            <div class="flex flex-col justify-center h-full">
                <h1 class="text-4xl font-bold pb-8">Log in</h1>
                <p class="pb-8">Don't have an account yet? <span class="text-green-500 font-semibold">Sign Up</span></p>
                <div class="flex flex-col">
                    <div class="pb-8">
                        <input type="text" placeholder="Email" class="bg-transparent border-b-2 border-gray-400 outline-none w-11/12 pb-4">
                    </div>
                    <div class="pb-8">
                        <input type="password" placeholder="Password" class="bg-transparent border-b-2 border-b-gray-400 outline-none w-11/12 pb-4">
                    </div>
                </div>
                <label for="remember" class="flex flex-row justify-between w-11/12 pb-8">
                    <div class="flex items-center">
                        <input type="checkbox" name="remember" class="checkbox border-black">
                        <span class="pl-4">Agree Terms</span>
                    </div>
                    <p class="font-semibold">Forgot password?</p>
                </label>
                <div class="flex justify-center w-11/12">
                    <a href={{ path('app_home') }}> 
                        <button class="btn btn-wide text-white">SIGN IN</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-start-2">
            <img src="{{ asset('/img/login.png') }}" alt="Login Image" class="w-full h-screen">
        </div>
    </div> #}
</form>
{% endblock %}
