{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="example-wrapper bg-white min-h-screen grid grid-cols-2 text-black font-poppins">
        <div class="col-start-1 flex flex-col p-14">
            <div class="flex flex-col justify-center h-full">
                <h1 class="text-4xl font-bold pb-8">Log in</h1>
                <p class="pb-8">Don't have an account yet? <a href="/register" class="text-green-500 font-semibold">Sign Up</a></p>
                <div class="flex flex-col">
                    <div class="pb-8">
                        <input type="text" placeholder="Email" class="bg-transparent border-b-2 border-gray-400 outline-none w-11/12 pb-4" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="pb-8">
                        <input type="password" placeholder="Password" class="bg-transparent border-b-2 border-b-gray-400 outline-none w-11/12 pb-4" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                </div>
                {% if error %}
                    <div class="text-red-500 pb-8">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <label for="remember" class="flex flex-row justify-between w-11/12 pb-8">
                    <div class="flex items-center">
                        <input type="checkbox" name="remember" class="checkbox border-black" required>
                        <span class="pl-4">Agree Terms</span>
                    </div>
                    <p class="font-semibold">Forgot password?</p>
                </label>
                <div class="flex justify-center w-11/12">
                    <a href={{ path('app_home') }}>
                        <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                        <button class="text-white bg-black px-20 py-2  border-black border font-bold rounded-xl hover:bg-white hover:text-black transition-all duration-300 w-full mt-3" type="">SIGN IN</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-start-2">
            <img src="{{ asset('/img/login.jpeg') }}" alt="Login Image" class="w-full h-screen objet-cover">
        </div>
    </div>
</form>
{% endblock %}
