{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
    <div class="example-wrapper bg-white min-h-screen grid grid-cols-2 text-black font-poppins">
        <div class="col-start-1 flex flex-col p-14">
            <div class="flex flex-col justify-center h-full">
                <h1 class="text-4xl font-bold pb-8">Sign up</h1>
                <p class="pb-8">Already have an account? <a href="{{ path('app_login') }}" class="text-green-500 font-semibold">Sign In</a></p>
                
                <div class="flex flex-col">
                    <div class="pb-8">
                        {{ form_widget(registrationForm.username, {'attr': {'type': 'text', 'placeholder': 'Username', 'class': 'bg-transparent border-b-2 border-gray-400 outline-none w-11/12 pb-4'}}) }}
                    </div>
                    <div class="pb-8">
                        {{ form_widget(registrationForm.email, {'attr': {'type': 'text', 'placeholder': 'Email', 'class': 'bg-transparent border-b-2 border-gray-400 outline-none w-11/12 pb-4'}}) }}
                    </div>
                    <div class="pb-8">
                        {{ form_widget(registrationForm.password, {'attr': {'type': 'password', 'placeholder': 'Password', 'class': 'bg-transparent border-b-2 border-b-gray-400 outline-none w-11/12 pb-4'}}) }}
                    </div>
                    <div class="pb-8">
                        <input required type="password" placeholder="Confirm password" class="bg-transparent border-b-2 border-b-gray-400 outline-none w-11/12 pb-4">
                    </div>
                    {{ form_errors(registrationForm) }}
                </div>
                
                <label for="accept" class="flex flex-row justify-between w-11/12 pb-8">
                    <div class="flex items-center">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'type': 'checkbox', 'name': 'accept', 'class': 'checkbox border-black'}}) }}
                        <span class="pl-4">I agree with <span class="font-bold">Privacy Policy</span> and <span class="font-bold">Terms of Use</span></span>
                    </div>
                </label>
                
                <div class="flex justify-center w-11/12">
                    <a href="{{ path('app_home') }}"> 
                        <button class="btn btn-wide text-white" type="submit">SIGN UP</button>
                    </a>
                </div>
            </div>
        </div>

        {{ form_end(registrationForm) }}
        
        <div class="col-start-2">
            <img src="{{ asset('/img/register.png') }}" alt="Register Image" class="w-full h-screen">
        </div>
    </div>



{% endblock %}
