{% extends 'base.html.twig' %}

{% block title %}Marketplace{% endblock %}

{% block body %}
<div class="bg-white min-h-screen text-black font-poppins">
    {# Navbar #}
    <div class="navbar">
        <div class="navbar-start">
        <a href="/">
            <img src={{ asset('img/logo.png') }} alt="Logo" class="w-44">
        </a>        </div>
        <div class="navbar-center">
            <a href={{ path('app_home') }} class="ml-8 opacity-50">Home</a>
            <a href={{ path('app_marketplace') }} class="ml-8">Marketplace</a>
            <a href={{ path('app_contact_us') }} class="ml-8 opacity-50">Contact Us</a>
            <div class="w-66">
                <div class="relative w-full min-w-[200px] h-10 ml-8">
                    <input
                    class="peer w-full h-full bg-transparent text-blue-gray-700 font-sans font-normal outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 border focus:border-2 border-t-transparent focus:border-t-transparent text-sm px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-gray-900"
                    placeholder="" /><label
                    class="flex w-full h-full select-none pointer-events-none absolute left-0 font-normal !overflow-visible truncate peer-placeholder-shown:text-blue-gray-500 leading-tight peer-focus:leading-tight peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500 transition-all -top-1.5 peer-placeholder-shown:text-sm text-[11px] peer-focus:text-[11px] before:content[' '] before:block before:box-border before:w-2.5 before:h-1.5 before:mt-[6.5px] before:mr-1 peer-placeholder-shown:before:border-transparent before:rounded-tl-md before:border-t peer-focus:before:border-t-2 before:border-l peer-focus:before:border-l-2 before:pointer-events-none before:transition-all peer-disabled:before:border-transparent after:content[' '] after:block after:flex-grow after:box-border after:w-2.5 after:h-1.5 after:mt-[6.5px] after:ml-1 peer-placeholder-shown:after:border-transparent after:rounded-tr-md after:border-t peer-focus:after:border-t-2 after:border-r peer-focus:after:border-r-2 after:pointer-events-none after:transition-all peer-disabled:after:border-transparent peer-placeholder-shown:leading-[3.75] text-gray-500 peer-focus:text-gray-900 before:border-blue-gray-200 peer-focus:before:!border-gray-900 after:border-blue-gray-200 peer-focus:after:!border-gray-900">Chercher
                    </label>
                </div>
            </div>  
        </div>
        <div class="navbar-end pr-8">
            {# <img src={{ asset('img/search.svg') }} alt="Search" class="pr-4"> #}
            {% if app.user %}
                <a href= {{ path('app_dashboard')}}>
                    <img src={{ asset('img/Account.svg') }} alt="Account" class="pr-4">
                </a>   
            {% else %}
                <a href={{ path('app_login') }}> 
                    <button class="btn btn-success text-white" type="">Login</button>
                </a>
            {% endif %}
            <div class="flex flex-row">
                <div class="drawer drawer-end">
                    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content">
                        <!-- Page content here -->
                        {% if app.user %}
                        <label for="my-drawer" class="btn bg-transparent drawer-button border-transparent overflow-hidden hover:bg-white hover:border-transparent shadow-none">
                            <img src={{ asset('img/Cart.svg') }} alt="Cart">
                            <div class=" text-white h-full flex justify-center items-center">
                                    <p class="bg-green-500 rounded-full px-3 py-2 text-black">{{ cart | length }}</p>
                            </div>
                        </label>
                        {% endif %}
                    </div>
                    <div class="drawer-side z-10">
                        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                        <ul class="menu p-4 w-80 min-h-full bg-white">
                            <!-- Sidebar content here -->
                            <h1 class="font-semibold text-2xl pb-8 pt-4">Cart</h1>
                            {% set totalprice = 0 %}
                            {% for article in cart %}
                            <a href="{{ path('app_article_show', {'id': article.id}) }}">
                                {# <div>
                                    <div class="pt-4">
                                        <div class="flex flex-row">
                                            <img src={{ article.userPic }} alt={{ article.name }}>
                                        </div>
                                        <h2 class="text-2xl font-bold">{{ article.name }}</h2>
                                        <p>{{ article.price }}€</p>
                                    </div>
                                </div> #}
                                <div class="flex flex-row justify-between">
                                    <div class="flex flex-row p-4">
                                        <img src={{ article.userPic }} alt={{ article.name }} class="w-20 h-24">
                                        <div class="flex flex-col pl-4">
                                            <p class="font-bold pb-4 text-sm">{{ article.name }}</p>
                                            <div class="flex items-center pt-2">
                                                {# <div class="border-transparent bg-slate-100 rounded">
                                                    <button class="pl-2">-</button>
                                                    <button class="px-2">2</button>
                                                    <button class="pr-2">+</button>
                                                </div> #}
                                                <p class="font-bold pb-4 text-sm">{{ article.price }}€</p>
                                                {% set totalprice = totalprice + article.price %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% else %}
                                <p class="text-center pb-8">No articles in cart</p>
                            {% endfor %}
                                {% if articles %}
                                <div class="divider"></div>
                                <div class="flex flex-row justify-between">
                                    <p class="font-bold text-sm">Total</p>
                                    <p class="font-bold text-sm">{{ totalprice }}€</p>
                                </div>
                                <button class="flex flex-row justify-center items-center bg-black text-white rounded-full h-12 w-full mt-8">
                                    <p class="font-bold text-sm">CHECKOUT</p>
                                </button>
                                {% endif %}
                                <div class="flex flex-row justify-center">
                                    <a href={{ path('app_cart') }}>
                                        <p class="border-b-2 border-black font-bold pt-4">View Cart</p>
                                    </a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {# End Navbar #}
    <div class=" pb-4">
        <img src={{ asset('img/Hero.png') }} alt="Hero" class="w-full">
    </div>
    <div>
        <div class="flex flex-col">
            <div class="flex flex-wrap justify-evenly pb-4">
                {% for article in articles %}
                <a href="{{ path('app_article_show', {'id': article.id}) }}">
                    <div class="m-2">
                        <div class="pt-4">
                            <div class="flex">
                                <img src={{ article.userPic }} alt={{ article.name }} class="w-78 h-96">
                            </div>
                            <h2 class="text-2xl font-bold">{{ article.name }}</h2>
                            <p>{{ article.price }}€</p>
                        </div>
                    </div>
                </a>
                {% else %}
                    <tr>
                        <td colspan="8">No articles found</td>
                    </tr>
                {% endfor %}
        </div>
    </div>
    {% include '/_defaults/_footer.html.twig' %}
</div>
{% endblock %}
