{% extends 'base.html.twig' %}

{% block title %}Marketplace{% endblock %}

{% block body %}
<div class="bg-white min-h-screen text-black font-poppins">
    {# Navbar #}
    <div class="navbar">
        <div class="navbar-start">
        <a href="/">
            <img src={{ asset('img/logo.png') }} alt="Logo" class="w-44">
        </a>        </div>
        <div class="navbar-center">
            <a href={{ path('app_home') }} class="ml-8 hover:text-green-500 hover:font-bold opacity-50 transition duration-300">Home</a>
            <a href={{ path('app_marketplace') }} class="ml-8 border-b-2 border-black">Marketplace</a>
            <a href={{ path('app_contact_us') }} class="ml-8 hover:text-green-500 hover:font-bold opacity-50 transition duration-300">Contact Us</a>
        </div>
        <div class="navbar-end pr-8">
            <form action={{ path('app_marketplace') }} class="w-66 mr-6" method="POST">
                <input autocomplete="off" name="search" type="text" placeholder="Search" class="bg-white w-32 h-10 border-2 border-black pl-3 rounded-xl focus:outline-none focus:w-80 transition-all">
            </form>  
            {# <img src={{ asset('img/search.svg') }} alt="Search" class="pr-4"> #}
            {% if app.user %}
                <a href= {{ path('app_dashboard')}}>
                    <img src={{ asset('img/Account.svg') }} alt="Account" class="pr-4">
                </a>   
            {% else %}
                <a href={{ path('app_login') }}> 
                    <button class="btn btn-success text-white" type="">Login</button>
                </a>
            {% endif %}
            <div class="flex flex-row">
                <div class="drawer drawer-end">
                    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content">
                        <!-- Page content here -->
                        {% if app.user %}
                        <label for="my-drawer" class="btn bg-transparent drawer-button border-transparent overflow-hidden hover:bg-white hover:border-transparent shadow-none">
                            <img src={{ asset('img/Cart.svg') }} alt="Cart">
                            <div class=" text-white h-full flex justify-center items-center">
                                    <p class="bg-green-500 rounded-full px-3 py-2 text-black">{{ cart | length }}</p>
                            </div>
                        </label>
                        {% endif %}
                    </div>
                    <div class="drawer-side z-10">
                        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                        <ul class="menu p-4 w-80 min-h-full bg-white">
                            <!-- Sidebar content here -->
                            <h1 class="font-semibold text-2xl pb-8 pt-4">Cart</h1>
                            {% set totalprice = 0 %}
                            {% for article in cart %}
                            <a href="{{ path('app_article_show', {'id': article.id}) }}">
                                {# <div>
                                    <div class="pt-4">
                                        <div class="flex flex-row">
                                            <img src={{ article.user_pic }} alt={{ article.name }}>
                                        </div>
                                        <h2 class="text-2xl font-bold">{{ article.name }}</h2>
                                        <p>{{ article.price }}€</p>
                                    </div>
                                </div> #}
                                <div class="flex flex-row justify-between">
                                            <div class="flex flex-row p-4">
                                                <img src={{ article.user_pic }} alt={{ article.name }} class="w-20 h-20 object-cover">
                                                <div class="flex flex-col pl-4">
                                                    <div class="flex pb-4">
                                                        <p class="font-bold text-sm">{{ article.name }}</p>
                                                        <div class="border-transparent bg-slate-100 ml-2 rounded">
                                                            {# <button class="pl-2">-</button> #}
                                                            {% for cart in carts %}
                                                                {% if cart.articleId == article.id %}
                                                                    <button class="px-2">{{ cart.quantity }}</button>
                                                                {% endif %}
                                                            {% endfor %}
                                                            {# <button class="pr-2">+</button> #}
                                                        </div>
                                                    </div>
                                                    <div class="flex justify-between items-center pt-2 pb-4">
                                                        {% for cart in carts %}
                                                            {% if cart.articleId == article.id %}
                                                                <p class="font-bold text-sm">{{ article.price * cart.quantity }}€</p>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% for cart in carts %}
                                                            {% if cart.articleId == article.id %}
                                                                {% set totalprice = totalprice + article.price * cart.quantity %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </a>
                            {% else %}
                                <p class="text-center pb-8">No articles in cart</p>
                            {% endfor %}
                                {% if cart %}
                                <div class="divider"></div>
                                <div class="flex flex-row justify-between mb-4">
                                    <p class="font-bold text-sm">Total</p>
                                    <p class="font-bold text-sm">{{ totalprice }}€</p>
                                </div>
                                <a href="/cart2">
                                    <button class="text-white bg-black px-7 py-2  border-black border font-bold rounded-xl hover:bg-white hover:text-black transition-all duration-300 w-full mt-3" type="">CHECKOUT</button>
                                </a>
                                {% endif %}
                                <div class="flex flex-row justify-center">
                                    <a href={{ path('app_cart') }}>
                                        <p class="border-black font-bold pt-2 hover:border-b-2">View Cart</p>
                                    </a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {# End Navbar #}
    <div class=" pb-4">
        <img src={{ asset('img/Hero.png') }} alt="Hero" class="w-full">
    </div>
        <div>
            <div class="grid grid-cols-4 mt-3">
                    {% for article in articles %}
                    <div class="flex justify-center">
                        <a href="{{ path('app_article_show', {'id': article.id}) }}">
                            <div class="m-2">
                                <div class="flex">
                                    <img src={{ article.userPic }} alt={{ article.name }} class="w-80 h-80 object-cover hover:opacity-80 transition-all duration-300">
                                </div>
                                <h2 class="text-2xl font-bold">{{ article.name }}</h2>
                                <p>{{ article.price }}€</p>
                            </div>
                            </a>
                        </div>
                    {% else %}
                        <div>
                            <p class="mt-48" colspan="8">No articles found</p>
                        </div>
                    {% endfor %}
        </div>
    {% include '/_defaults/_newsletter.html.twig' %}
    {% include '/_defaults/_footer.html.twig' %}
</div>
{% endblock %}
