{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="example-wrapper bg-white min-h-screen text-black font-poppins overflow-auto">
        <div class="navbar">
            <div class="navbar-start">
                <img src={{ asset('img/logo.png') }} alt="Logo" class="w-44">
            </div>
            <div class="navbar-center">
                <a class="ml-8 opacity-50">Home</a>
                <a class="ml-8">Shop</a>
                <a class="ml-8 opacity-50">Product</a>
                <a class="ml-8 opacity-50">Contact Us</a>
            </div>
            <div class="navbar-end pr-8">
                <img src={{ asset('img/search.svg') }} alt="Search" class="pr-4">
                <img src={{ asset('img/Account.svg') }} alt="Search" class="pr-4">
                <div class="flex flex-row">
                    <img src={{ asset('img/Cart.svg') }} alt="Search" class="">
                    <div class="bg-green-500 rounded-full">
                        <p class="mx-2">2</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-16 py-14">
            <div class="text-sm breadcrumbs">
                <ul>
                    <li class="opacity-50"><a href={{ path('app_home') }}>Home</a></li> 
                    <li><a href={{ path('app_cart') }}>Cart</a></li> 
                </ul>
                <h1 class="font-bold text-4xl">Shopping Cart</h1>
            </div>
            <div class="flex flex-row text-center pt-4">
                <div class="flex flex-row border-b-2 border-black mr-16">
                    <div class="flex flex-row mb-2">
                        <div class="bg-black rounded-full">
                            <p class="text-white mx-3 text-xl">1</p>
                        </div>
                        <p class="ml-2">Shopping Cart</p>
                    </div>
                </div>
                <div class="flex flex-row mr-16 opacity-50">
                    <div class="flex flex-row mb-2">
                        <div class="bg-black rounded-full">
                            <p class="text-white mx-3 text-xl">2</p>
                        </div>
                        <p class="ml-2">Checkout details</p>
                    </div>
                </div>
                <div class="flex flex-row opacity-50">
                    <div class="flex flex-row mb-2">
                        <div class="bg-black rounded-full">
                            <p class="text-white mx-3 text-xl">3</p>
                        </div>
                        <p class="ml-2">Order complete</p>
                    </div>
                </div>
            </div>
            <div class="w-5/12 text-sm pt-8">
                <div class="grid grid-cols-2 border-b-2">
                    <div class="col-start-1">
                        <p>Product</p>
                    </div>
                    <div class="col-start-2">
                        <div class="flex flex-row justify-between">
                            <p class>Quantity</p>
                            <p>Price</p>
                            <p>Subtotal</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-5/12 pt-4 flex flex-row justify-between">
                <div class="flex flex-row">
                    <img src={{ asset('img/flower_orange.jpg') }} alt="Flower Orange" class="w-20 h-24">
                    <div class="flex flex-col pl-4">
                        <p class="font-bold pb-4 text-sm">Flower Orange</p>
                        <p class="text-xs">Single</p>
                        <div class="flex flex-row">
                            <img src={{ asset('img/delete.svg') }} alt="Delete">
                            <p class="text-xs mt-1">Remove</p>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="border-2 border-black rounded">
                        <button class="pl-2">-</button>
                        <button class="px-2">2</button>
                        <button class="pr-2">+</button>
                    </div>
                </div>
                <div class="flex items-center">
                    <p>4,99€</p>
                </div>
                <div class="flex items-center">
                    <p>9,98€</p>
                </div>
            </div>
            <div class="w-5/12 pt-4 flex flex-row justify-between">
                <div class="flex flex-row">
                    <img src={{ asset('img/chic_blossom.jpg') }} alt="Flower Orange" class="w-20 h-24">
                    <div class="flex flex-col pl-4">
                        <p class="font-bold pb-4 text-sm">Chic Blossom</p>
                        <p class="text-xs">Bouquet</p>
                        <div class="flex flex-row">
                            <img src={{ asset('img/delete.svg') }} alt="Delete">
                            <p class="text-xs mt-1">Remove</p>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="border-2 border-black rounded">
                        <button class="pl-2">-</button>
                        <button class="px-2">1</button>
                        <button class="pr-2">+</button>
                    </div>
                </div>
                <div class="flex items-center">
                    <p>59,99€</p>
                </div>
                <div class="flex items-center">
                    <p>59,99€</p>
                </div>
            </div>
            <div class="w-5/12 pt-4 flex flex-row justify-between">
                <div class="flex flex-row">
                    <img src={{ asset('img/floral_charm.jpg') }} alt="Flower Orange" class="w-20 h-24">
                    <div class="flex flex-col pl-4">
                        <p class="font-bold pb-4 text-sm">Floral Charm</p>
                        <p class="text-xs">Single</p>
                        <div class="flex flex-row">
                            <img src={{ asset('img/delete.svg') }} alt="Delete">
                            <p class="text-xs mt-1">Remove</p>
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    <div class="border-2 border-black rounded">
                        <button class="pl-2">-</button>
                        <button class="px-2">2</button>
                        <button class="pr-2">+</button>
                    </div>
                </div>
                <div class="flex items-center">
                    <p>69,99€</p>
                </div>
                <div class="flex items-center">
                    <p>69,99€</p>
                </div>
            </div>
        </div>
        <div class="relative bottom-0 w-full">
            <div class="topfooter bg-black text-white flex flex-row items-center justify-between border-b-2 border-gray-400 pt-16">
                <div class="flex flex-row items-center mb-4">
                    <img src={{ asset('img/logo_no_background.png') }} alt="Logo" class="w-44">
                    <div class="border-l-2 border-gray-400">
                        <p class="ml-4">Buy flowers</p>
                    </div>
                </div>
                <div class="flex pr-8">
                    <a class="ml-8">Home</a>
                    <a class="ml-8">Shop</a>
                    <a class="ml-8">Product</a>
                    <a class="ml-8">Contact Us</a>
                </div>
            </div>
            <div class="botfooter bg-black text-white flex flex-row items-center justify-between pb-16 pt-2">
                <div class="flex flex-row items-center">
                    <a class="ml-8">Copyright © 2023 Flowers. All rights reserved</a>
                    <a class="ml-8">Privacy Policy</a>
                    <a class="ml-8">Terms of Use</a>
                </div>
                <div class="flex pr-8">
                    <img src={{ asset('img/instagram.svg') }} alt="Instagram" class="pr-4">
                    <img src={{ asset('img/youtube.svg') }} alt="Youtube" class="pr-4">
                    <img src={{ asset('img/facebook.svg') }} alt="Facebook" class="pr-4">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
