{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="example-wrapper bg-white min-h-screen text-black font-poppins overflow-auto">
        {% include '/_defaults/_navbar.html.twig' %}
        <div class="px-16 py-14 min-h-screen">
            <div class="text-sm breadcrumbs">
                <ul>
                    <li class="opacity-50"><a href={{ path('app_home') }}>Home</a></li> 
                    <li><a href={{ path('app_cart') }}>Cart</a></li> 
                </ul>
                <h1 class="font-bold text-4xl">Shopping Cart</h1>
            </div>
            <div class="flex flex-row text-center pt-4">
                <div class="flex flex-row border-b-2 border-black mr-16">
                    <div class="flex flex-row mb-2">
                        <div class="bg-black rounded-full">
                            <p class="text-white mx-3 text-xl">1</p>
                        </div>
                        <p class="ml-2">Shopping Cart</p>
                    </div>
                </div>
                <div class="flex flex-row mr-16 opacity-50">
                    <div class="flex flex-row mb-2">
                        <div class="bg-black rounded-full">
                            <p class="text-white mx-3 text-xl">2</p>
                        </div>
                        <p class="ml-2">Checkout details</p>
                    </div>
                </div>
                <div class="flex flex-row opacity-50">
                    <div class="flex flex-row mb-2">
                        <div class="bg-black rounded-full">
                            <p class="text-white mx-3 text-xl">3</p>
                        </div>
                        <p class="ml-2">Order complete</p>
                    </div>
                </div>
            </div>
            {% set result = 0 %}
            {% if cart %}
            <div class="w-5/12 text-sm pt-8">
                <div class="grid grid-cols-2 border-b-2">
                    <div class="col-start-1">
                        <p>Product</p>
                    </div>
                    <div class="col-start-2">
                        <div class="flex flex-row justify-between">
                            <p>Quantity</p>
                            <p></p>
                            <p>Price</p>
                        </div>
                    </div>
                </div>
            </div>
                {% for article in cart %}
                    {% if article != null %}
                        <div class="w-5/12 pt-4 flex flex-row justify-between">
                            <div class="flex flex-row">
                                <img src={{ article.userPic }} alt={{ article.name }} class="w-20 h-24">
                                <div class="flex flex-col pl-4">
                                    <p class="font-bold pb-4 text-sm">{{ article.name }}</p>
                                    <form method="post" class="flex flex-row" action="{{ path('app_cart_delete', {'articleId': article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                        <button class="flex flex-row">
                                            <img src={{ asset('img/delete.svg') }} alt="Delete">
                                            <p class="text-xs mt-1">Remove</p>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <div class="border-2 border-black rounded">
                                    <button class="px-2">1</button>
                                </div>
                            </div>
                            <p></p>
                            <div class="flex items-center">
                                <p>{{ article.price }}€</p>
                            </div>
                        </div>
                        {% set result = result + article.price %}
                    {% endif %}
                {% endfor %}
            <div class="w-5/12 pt-8">
                <div class="flex flex-row justify-between">
                    <p>Shipping</p>
                    <p>Free</p>
                </div>
                <div class="flex flex-row justify-between">
                    <p>Total</p>
                    <p>{{ result }}€</p>
                </div>
                <div class="flex flex-row justify-between">
                    <p></p>
                    <a href="/cart2"> 
                        <button class="btn btn-neutral text-white bg-black" type="">Checkout</button>
                    </a>
                </div>
            </div>
            {% else %}
                <div class="w-5/12 pt-4 flex flex-row justify-between">
                    <div class="flex flex-row">
                        <p class="font-bold pb-4 text-xl text-center">Your cart is empty</p>
                    </div>
                </div>
            {% endif %}
        </div>
        {% include '/_defaults/_footer.html.twig' %}
    </div>
{% endblock %}
