{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
<div class="bg-white min-h-screen text-black font-poppins overflow-auto">
    <div class="navbar">
        <div class="navbar-start">
            <img src={{ asset('img/logo.png') }} alt="Logo" class="w-44">
        </div>
        <div class="navbar-center">
            <a class="ml-8 opacity-50">Home</a>
            <a class="ml-8 opacity-50">Shop</a>
            <a class="ml-8">Marketplace</a>
            <a class="ml-8 opacity-50">Contact Us</a>
        </div>
        <div class="navbar-end pr-8">
            <img src={{ asset('img/search.svg') }} alt="Search" class="pr-4">
            <img src={{ asset('img/Account.svg') }} alt="Search" class="pr-4">
            <div class="flex flex-row">
                <div class="drawer drawer-end">
                    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content">
                        <!-- Page content here -->
                        <label for="my-drawer" class="btn bg-transparent drawer-button border-transparent overflow-hidden hover:bg-white hover:border-transparent shadow-none">
                            <img src={{ asset('img/Cart.svg') }} alt="Search" class="">
                            <div class=" text-white h-4">
                                <p class="mx-2 mt-0 bg-green-500 rounded-full p-2">2</p>
                            </div>
                        </label>
                    </div>
                    <div class="drawer-side">
                        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                        <ul class="menu p-4 w-80 min-h-full bg-white">
                            <!-- Sidebar content here -->
                            <h1 class="font-semibold text-2xl pb-8 pt-4">Cart</h1>
                            <div class="flex flex-row justify-between">
                                <div class="flex flex-row">
                                    <img src={{ asset('img/flower_orange.jpg') }} alt="Flower Orange" class="w-20 h-24">
                                    <div class="flex flex-col pl-4">
                                        <p class="font-bold pb-4 text-sm">Flower Orange</p>
                                        <p class="text-xs opacity-50">Single</p>
                                        <div class="flex items-center pt-2">
                                            <div class="border-transparent bg-slate-100 rounded">
                                                <button class="pl-2">-</button>
                                                <button class="px-2">2</button>
                                                <button class="pr-2">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col items-end">
                                    <p class="font-bold pb-4 text-sm">9,98€</p>
                                    <img src={{ asset('img/delete.svg') }} alt="Delete" class="h-8 w-8">
                                </div>
                            </div>
                            <div class="">
                                <div class="flex flex-row justify-between pt-8">
                                    <p class="font-bold text-sm">Subtotal</p>
                                    <p class="font-bold text-sm">9,98€</p>
                                </div>
                                <div class="divider"></div>
                                <div class="flex flex-row justify-between">
                                    <p class="font-bold text-sm">Total</p>
                                    <p class="font-bold text-sm">9,98€</p>
                                </div>
                                <button class="flex flex-row justify-center items-center bg-black text-white rounded-full h-12 w-full mt-8">
                                    <p class="font-bold text-sm">CHECKOUT</p>
                                </button>
                                <a href={{ path('app_cart') }}>
                                    <div class="flex flex-row justify-center">
                                        <p class="border-b-2 border-black font-bold pt-4">View Cart</p>
                                    </div>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-14">
        <div class="bg-black rounded-3xl text-white">
            <h1 class="text-3xl font-bold flex justify-center pt-4">Update article</h1>
            <div>
            </div>
            <div class="flex justify-between">
                <div class="flex flex-col items-center w-1/2 pt-8">
                    <div class="pb-8">
                        <input type="text" placeholder="Name" class="bg-transparent border-b-2 outline-none w-full">
                    </div>
                    <div class="pb-8">
                        <input type="text" placeholder="Description" class="bg-transparent border-b-2 outline-none">
                    </div>
                    <div class="pb-8">
                        <input type="text" placeholder="Price" class="bg-transparent border-b-2 outline-none">
                    </div>
                    <div class="pb-8">
                        <input type="url" placeholder="Image Link" class="bg-transparent border-b-2 outline-none">
                    </div>
                </div>
                <div class="pt-8">
                    <img src={{ asset('img/SideProduct.png') }} alt="Image" class="h-56 pr-36">
                </div>
            </div>
            <div class="flex justify-end pr-36 py-8">
                <button class="flex flex-row justify-center items-center bg-secondary text-white rounded-xl h-12 px-8">
                    <p class="font-bold text-sm">UPDATE</p>
                </button>
            </div>
        </div>
    </div>
    <div class="relative bottom-0 w-full">
        <div class="topfooter bg-black text-white flex flex-row items-center justify-between border-b-2 border-gray-400 pt-16">
            <div class="flex flex-row items-center mb-4">
                <img src={{ asset('img/logo_no_background.png') }} alt="Logo" class="w-44">
                <div class="border-l-2 border-gray-400">
                    <p class="ml-4">Buy flowers</p>
                </div>
            </div>
            <div class="flex pr-8">
                <a class="ml-8">Home</a>
                <a class="ml-8">Shop</a>
                <a class="ml-8">Product</a>
                <a class="ml-8">Contact Us</a>
            </div>
        </div>
        <div class="botfooter bg-black text-white flex flex-row items-center justify-between pb-16 pt-2">
            <div class="flex flex-row items-center">
                <a class="ml-8">Copyright © 2023 Flowers. All rights reserved</a>
                <a class="ml-8">Privacy Policy</a>
                <a class="ml-8">Terms of Use</a>
            </div>
            <div class="flex pr-8">
                <img src={{ asset('img/instagram.svg') }} alt="Instagram" class="pr-4">
                <img src={{ asset('img/youtube.svg') }} alt="Youtube" class="pr-4">
                <img src={{ asset('img/facebook.svg') }} alt="Facebook" class="pr-4">
            </div>
        </div>
    </div>
</div>
{% endblock %}
