{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="bg-white min-h-screen text-black font-poppins">
    {% include '/_defaults/_navbar.html.twig' %}
    <div class="pl-14 py-24 flex flex-row">
        <img src={{ article.userPic }} alt="{{ article.name }}" class="w-1/4 h-1/4">
        <div class="flex flex-col pl-4">
            <h1 class="text-4xl font-bold">{{ article.name }}</h1>
            <p>{{ article.pubDate ? article.pubDate|date('Y-m-d') : '' }}</p>
            <p>{{ author }}</p>
            <p class="opacity-50 pt-8">
                {{ article.description }}
            </p>
            <p class="text-2xl pt-4">{{ article.price }}€</p>
            <div class="divider"></div>
            <button class="flex flex-row justify-center items-center bg-black text-white rounded-xl h-12 w-full">
                <a href="{{ path('app_cart_new', {'article_id': article.id}) }}">
                    <p class="font-bold text-sm">ADD TO CART</p>
                <a/>
            </button>
            <div class="divider"></div>
        </div>
    </div>
    {% include '/_defaults/_footer.html.twig' %}
</div>
{% endblock %}
