{# Navbar #}
    <div class="navbar">
        <div class="navbar-start">
        <a href="/">
            <img src={{ asset('img/logo.png') }} alt="Logo" class="w-44">
        </a>
        </div>
        <div class="navbar-center">
            <a href={{ path('app_home') }} class="ml-8 opacity-50">Home</a>
            <a href={{ path('app_marketplace') }} class="ml-8 opacity-50">Marketplace</a>
            <a href={{ path('app_contact_us') }} class="ml-8 opacity-50">Contact Us</a>
        </div>

        <div class="navbar-end pr-8">
            <div class="w-66 mr-6">
                <input type="text" placeholder="Search" class="w-32 h-10 border-2 border-black pl-3 rounded-xl focus:outline-none focus:w-80 transition-all">
            </div>  
            {# <img src={{ asset('img/search.svg') }} alt="Search" class="pr-4"> #}
            {% if app.user %}
                <a href= {{ path('app_dashboard')}}>
                    <img src={{ asset('img/Account.svg') }} alt="Account" class="pr-4">
                </a>   
            {% else %}
                <a href={{ path('app_login') }}> 
                    <button class="btn btn-success text-white" type="">Login</button>
                </a>
            {% endif %}
            <div class="flex flex-row">
                <div class="drawer drawer-end">
                    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
                    <div class="drawer-content">
                        <!-- Page content here -->
                        {% if app.user %}
                        <label for="my-drawer" class="btn bg-transparent drawer-button border-transparent overflow-hidden hover:bg-white hover:border-transparent shadow-none">
                            <img src={{ asset('img/Cart.svg') }} alt="Cart">
                            <div class=" text-white h-full flex justify-center items-center">
                                    <p class="bg-green-500 rounded-full px-3 py-2 text-black">{{ cart | length }}</p>
                            </div>
                        </label>
                        {% endif %}
                    </div>
                    <div class="drawer-side z-10">
                        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                        <ul class="menu p-4 w-80 min-h-full bg-white">
                            <!-- Sidebar content here -->
                            <h1 class="font-semibold text-2xl pb-8 pt-4">Cart</h1>
                            {% set totalprice = 0 %}
                            {% for article in cart %}
                                {% if article != null %}
                                    <a href="{{ path('app_article_show', {'id': article.id}) }}">
                                        {# <div>
                                            <div class="pt-4">
                                                <div class="flex flex-row">
                                                    <img src={{ article.userPic }} alt={{ article.name }}>
                                                </div>
                                                <h2 class="text-2xl font-bold">{{ article.name }}</h2>
                                                <p>{{ article.price }}€</p>
                                            </div>
                                        </div> #}
                                        <div class="flex flex-row justify-between">
                                            <div class="flex flex-row p-4">
                                                <img src={{ article.userPic }} alt={{ article.name }} class="w-20 h-24">
                                                <div class="flex flex-col pl-4">
                                                    <p class="font-bold pb-4 text-sm">{{ article.name }}</p>
                                                    <div class="flex items-center pt-2">
                                                        {# <div class="border-transparent bg-slate-100 rounded">
                                                            <button class="pl-2">-</button>
                                                            <button class="px-2">2</button>
                                                            <button class="pr-2">+</button>
                                                        </div> #}
                                                        <p class="font-bold pb-4 text-sm">{{ article.price }}€</p>
                                                        {% set totalprice = totalprice + article.price %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% else %}
                                <p class="text-center pb-8">No articles in cart</p>
                            {% endfor %}
                                {% if cart %}
                                <div class="divider"></div>
                                <div class="flex flex-row justify-between">
                                    <p class="font-bold text-sm">Total</p>
                                    <p class="font-bold text-sm">{{ totalprice }}€</p>
                                </div>
                                <button class="flex flex-row justify-center items-center bg-black text-white rounded-full h-12 w-full mt-8">
                                    <p class="font-bold text-sm">CHECKOUT</p>
                                </button>
                                {% endif %}
                                <div class="flex flex-row justify-center">
                                    <a href={{ path('app_cart') }}>
                                        <p class="border-b-2 border-black font-bold pt-4">View Cart</p>
                                    </a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {# End Navbar #}